In [ ]:
pip install snscrape

Requirement already satisfied: snscrape in /usr/local/lib/python3.6/dist-packages (0.3.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from snscrape) (4.2.6)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.6/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests[socks]->snscrape) (2020.6.20)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.6/dist-packages (from requests[socks]->snscrape) (1.7.1)

In [ ]:
import pandas as pd

In [ ]:
import snscrape
import snscrape.modules
import snscrape.modules.twitter

In [ ]:
tweets=[]

In [ ]:
for i, tweet in enumerate(snscrape.modules.twitter.TwitterSearchScraper("#coronavirus+#pandemic+#covid19 lang:en since:2020-10-01 until:2020-10-20").get_items()):
  if tweet not in tweets:
    tweets.append(tweet)
  if i>=1500:
    break
 
"""
P.S - This code block needs to run multiple times with respect to the hashtags, 'since' and 'until' parameters in order to obtain a specific number of tweets per month(which has been done using
enumerate function). 
The way this works - enter the required 'since' and 'until' dates with the required query or hashtag according to required iterable value and run the cell/code block so that these tweets are 
appended to the list called - tweets.

Repeat this until process until requirement is satisfied.

P.P.S - Initially we extracted 28053 tweets but we found that it wasnt fitting our requirement later on (for ABSA), so we had to reduce the tweets in the dataset to suit our requirements. 
We recommend to check resources and requirements and change the parameters as required.
We have added the dataset used for this project - final dataset.csv, please find it for reference if required.
"""

In [ ]:
len(tweets)

28053

In [ ]:
df=pd.DataFrame(tweets)

In [ ]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
df.head()

                                                 url  ...            tcooutlinksss
0  https://twitter.com/krmaas/status/122338937695...  ...  https://t.co/CPTqH8A4VJ
1  https://twitter.com/kegeiger/status/1223389347...  ...  https://t.co/Mn26tce0Hs
2  https://twitter.com/CHEMTRAILSMN/status/122338...  ...  https://t.co/iklkscwcfh
3  https://twitter.com/ks10650/status/12233877477...  ...
4  https://twitter.com/RightSideNow/status/122338...  ...

[5 rows x 9 columns]

In [ ]:
df1 = df[['url','date','content','id','username']]

In [ ]:
df1.head()

                                                 url  ...      username
0  https://twitter.com/krmaas/status/122338937695...  ...        krmaas
1  https://twitter.com/kegeiger/status/1223389347...  ...      kegeiger
2  https://twitter.com/CHEMTRAILSMN/status/122338...  ...  CHEMTRAILSMN
3  https://twitter.com/ks10650/status/12233877477...  ...       ks10650
4  https://twitter.com/RightSideNow/status/122338...  ...  RightSideNow

[5 rows x 5 columns]

In [ ]:
df1.to_csv("/drive/My Drive/Mini_Project/final_dataset.csv", mode="a")